<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Cadastro realizado</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<header>
    <h1>Projeto Azul</h1>
</header>

<main>
    <section>
        <h2>Cadastro realizado com sucesso ✅</h2>
        <p>Seus dados foram salvos. Em breve entraremos em contato.</p>

        <br>
        <a href="/" class="botao">⬅ Voltar para a página inicial</a>
    </section>
</main>

<footer>
    <p>Projeto Azul • MVP • 2026</p>
</footer>

</body>
</html>
